version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.2.4
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: bundle install
      - run:
          name: Run tests
          command: bundle exec rake
